@font-face {
  font-family: "Gilroy Light";
  src: url("Gilroy-Light.eot");
  src: url("Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Light.woff") format("woff"),
    url("Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  width: 1349px;
}
.container {
  font-family: "Gilroy Light";
}
.main-container {
  margin: 0 120px 80px 120px;
}
@media (max-width: 420px) {
  .main-container {
    margin: 0 0px 80px 0px;
  }
}
